{% extends "partials/_base.html" %}
{% load static %}
{% load i18n %}
{% block title %} Career Page {% endblock title %}
{% block body %}

<div class="container">
    <section>
        <div class="card ">
            <h3 class="card-heading">{{ careerd.title }}</h3>
            <div class="card-body w-100 text-center">
                <div class="lead">
                    <i class="fa fa-map-marker-alt text-primary me-2"></i>
                    {{ careerd.location }}
                </div>
                | <br> Posted {{ careerd.created_at|timesince }} Ago  |
                {% if careerd.type == '1' %}
                    <span class="btn btn-primary">Full time</span>
                {% elif careerd.type == '2' %}
                    <span class="btn btn-primary">Part time</span>
                {% else %}
                    <span class="btn btn-primary">Internship</span>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h4>Category: {{ careerd.category }}</h4>
                    <h5>Posted: {{ careerd.last_date|date }}</h5>
                    <h6 class = "text-danger" >Deadline: {{ careerd.last_date|date }}</h6>
                    <h6 class="text-info">Salary: {{ careerd.salary}}</h6>
                    <blockquote class="blockquote">
                        <p>{{ careerd.description }}</p>
                    </blockquote>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-success" href="{% url 'career:candidateformview' %}">Apply Now</a>
    </div>
    <br>
</div>
{% endblock body %}
{% block scripts %}
<script src="{% static 'js/functions.js' %}"></script>

{% endblock scripts %}
